@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600&family=Lilita+One&display=swap');

/* font families */





* {
  box-sizing: border-box;
}


html {
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  background-color: #E5625E;
}

button {
  font: inherit;
  cursor: pointer;
  border: 1px solid white;
  color: #E5625E;
  font-weight: bold;
  background: #FFFFFF;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  color: #FFFFFF;
  size: 2rem;
  background: #999799;
}