.works__form,
.works__list {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  padding: 1rem;
}

.works__form label,
.works__form input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}

.works__form label {
  font-weight: bold;
  color: #fff;
  font-size: 3rem;
}

.works__form input {
  font: inherit;
  border: 1px solid #ccc;
}

.works__form input:focus {
  border-color: #999799
}

.works__list {
  list-style: none;
  background-color: #999799;
}y
y

.works__label {
  font-weight: bold;
  color: #000000;
}

.works__form {
  background-color: #999799;
  justify-content: flex-end;
  border-radius: 10px;
}

.works__list li {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid purple;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.works__list span {
  font-weight: bold;
  color: purple;
}

.works__actions button {
  margin-left: 1rem;
}